<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Novo Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<form [formGroup]="produtoForm" (ngSubmit)="cadastrar(produtoForm.value)">
		<ion-item>
			<ion-label position="floating">Nome</ion-label>
			<ion-input type="text" formControlName="nome"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Preço</ion-label>
			<ion-input type="number" formControlName="preco"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Peso</ion-label>
			<ion-input type="number" formControlName="peso"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Descricao</ion-label>
			<ion-textarea type="text" formControlName="descricao"></ion-textarea>
		</ion-item>
		<ion-button type="submit" shape="round" color="primary" expand="block" [disabled]="!produtoForm.valid">Cadastrar</ion-button>
		<ion-button type="button" shape="round" color="danger" expand="block" routerLink="/lista-produtos">Cancelar</ion-button>
	</form>
</ion-content>
