<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Projeto Teste</ion-card-subtitle>
        <ion-card-title>Bem vindo ao Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Esse projeto é um teste para ser usado como código fonte</p>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="!logado">
      <form [formGroup]="userForm" (ngSubmit)="logar(userForm.value)">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-button type="submit" shape="round" color="primary" expand="block" [disabled]="!userForm.valid">Logar</ion-button>
      </form>
    </ion-card>
</ion-content>
